h1 {
    font-size: 24px;
    color: darkslategray;
}

caption, h2 {
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
}

 td {
    border: 1px solid grey;
    width: 100px;
 }

 table {
    border: 3px solid grey;
    margin-top: 50px;
 }

 div {
     margin-top: 50px;
     margin-bottom: 50px;
 }

 li {
     font-size: 16px;
     color: darkslategray;
 }